<h1 id="date"></h1>
<div class="list-group">
  {{#each events}}
    <a href="{{url}}" class="list-group-item"><h1>{{startTime}}</h1>{{groupName}}<br>{{eventName}}, {{travelTime}} mins, start time {{startTime}}</a>
  {{/each}}
</div>
